@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSignin.cshtml";
}
@model GloballendingViews.ViewModels.LoanViewModel

<div class="mainSignUp add">

    <div class="row iconStyleBox2">

        <h1 class="formHead">Welcome to Pay or Borrow!</h1>
        <p class="sendTop">Sign up</p>
        @using (Html.BeginForm("CreateUser", "Home", FormMethod.Post, new { id = "signup" }))
        {
            <form>
                @if (TempData["Message"] != null)
                {
                    <div id="Msg" class="alert alert-danger">
                        @TempData["Message"]
                    </div>
                }


                <div class="row">
                    <div class="col-md-6">

                        @Html.TextBoxFor(model => model.AccountsModel.firstname, new { placeholder = "First Name *", @class = "", type = "text", required = "required", })
                    </div>
                    <div class="col-md-6">

                        @Html.TextBoxFor(model => model.AccountsModel.lastname, new { placeholder = "Last Name *", @class = "", type = "text", required = "required", })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">

                        @Html.TextBoxFor(model => model.AccountsModel.Email, new { placeholder = "Email *", @class = "", type = "text", required = "required" })
                    </div>
                    <div class="col-md-6">

                        @Html.TextBoxFor(model => model.AccountsModel.Phone, new { placeholder = "Phone *", @class = "", type = "text", required = "required" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.AccountsModel.pasword, new { placeholder = "Password *", @class = "", type = "password", required = "required" })
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.AccountsModel.confirmPassword, new { placeholder = "Confirm Password *", @class = "", type = "password", required = "required" })
                    </div>
                </div>
@Html.TextBoxFor(model => model.AccountsModel.Referal, new { placeholder = "Referred By (Email or Mobile Number) *", @class = "", type = "text", required = "required" })
                
  <input type="submit" class="" value="Sign up" />
    
            </form>
        }
</div>
    <p class="sendBottom">Forgot Your Password? <a href="@Url.Action("RecoverPassword", "Home")">click here for recovery</a></p>

</div>
<script>
    $(document).ready(function () {
    $("#Msg").show();
    setTimeout(function () { $("#Msg").hide(); }, 5000);
    });
</script>