@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model GloballendingViews.ViewModels.LoanViewModel
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Add Service</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add Service</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row list-input">
    <div class="col-md-3 mr0" style="margin:auto;">
        <div class="single-get-touch">
            @if (TempData["message"] == null)
            {
                <div class=""></div>
            }
            else
            {
                <div id="Msg" class="alert alert-success">
                    <h4> @TempData["message"] </h4>
                </div>
            }
        </div>
    </div>
</div>

@using (Html.BeginForm("CreateService", "Customer", FormMethod.Post))
{
   
    <div class="row list-input">
        <div class="col-md-3 mr0" style="margin:auto;">
            <div class="single-get-touch">

                @Html.DropDownList("id", new SelectList(ViewBag.listMerchant, "id", "MarchantName"))

            </div>
        </div>


    </div>


    <br />

    <div class="row list-input">
        <div class="col-md-3 mr0" style="margin:auto;">

            <div class="single-get-touch">

                @Html.TextBoxFor(model => model.CustomerServices.CustomerIDLabel, new { placeholder = "Customer ID Label*", required = "required" })

            </div>
        </div>


    </div>
    <br />


    <div class="row list-input">
        <div class="col-md-3 mr0" style="margin:auto;">
            <div class="single-get-touch">

                @Html.TextBoxFor(model => model.CustomerServices.CustomerID, new { placeholder = "Cutomer Label*", required = "required", @type = "text" })

            </div>
        </div>


    </div>
    <br />

    <div class="row list-input">
        <div class="col-md-3 mr0" style="margin:auto;">
            <div class="single-get-touch">
                @Html.TextBoxFor(model => model.CustomerServices.PackageTypeIDLabel, new { placeholder = "Package Type ID*", required = "required", @type = "text" })
            </div>
        </div>


    </div>
    <br />
    <div class="row list-input">
        <div class="col-md-3 mr0" style="margin:auto;">
            <div class="single-get-touch">
                @Html.TextBoxFor(model => model.CustomerServices.PackageType, new { placeholder = "Package Type*", required = "required", @type = "text" })
            </div>
        </div>


    </div>
    <br />
    <div class="row list-input">
        <div class="col-md-3 mr0" style="margin:auto;">
            <div class="single-get-touch">

                @Html.TextBoxFor(model => model.CustomerServices.OtherLabelID, new { placeholder = "Others*", required = "required", @type = "text" })
            </div>
        </div>


    </div>



    <br />

    <div class="col-md-3" style="margin:auto;">
        <div class="single-get-touch">
            <input type="submit" name="submit" class="btn btn-default btn-sm" value="Create Customer" />
        </div>
    </div>

}

