@{
    ViewBag.Title = "CreateRole";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
@model GloballendingViews.ViewModels.LoanViewModel
@*<h2>CreateUser</h2>*@
<link rel="stylesheet" type="text/css" href=@Url.Content("/content/assets/themes/admin/color-schemes/default.css")>
<link rel="stylesheet" type="text/css" href=@Url.Content("/content/assets/themes/components/default.css")>

<link rel="stylesheet" type="text/css" href=@Url.Content("/Styles/Datatable/bootstrap.min.css")>
<script src=@Url.Content("/Styles/Datatable/jquery.min.js")></script>
<link rel="stylesheet" type="text/css" href=@Url.Content("/Styles/Datatable/jquery.dataTables.min.css")>
<script src=@Url.Content("/Styles/Datatable/jquery.dataTables.min.js")></script>
<script src=@Url.Content("/Styles/Datatable/bootstrap.min.js")></script>

<div class="forms">
    @if (TempData["message"] == null)
    {
        <div class=""></div>
    }
    else
    {
        <div id="Msg" class="alert alert-success">
            <h4> @TempData["message"] </h4>
        </div>
    }
    <h2 class="title1"></h2>
    <div class="form-grids row widget-shadow" data-example-id="basic-forms" style="margin-left:50px;">
        <div class="form-title">
            <h4>Create Role</h4>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-body">
                    @using (Html.BeginForm("CreatePage", "Dashboard", FormMethod.Post, new { id = "signup" }))
                    {
                        <form>

                            <div class="form-group">
                                <input type="text" style="display:none;" name="id" class="form-control1" value="" id="exampleInputEmail1" placeholder="ID">
                                <label for="exampleInputEmail1">Page Name</label>
                                @Html.TextBoxFor(model => model.PageModel.PageName, new { placeholder = "Page Name *", @class = "form-control1", type = "text", required = "required", })
                            </div>

                            <div class="form-group">
                               
                                <label for="exampleInputEmail1">Page Url</label>
                                @Html.TextBoxFor(model => model.PageModel.PageUrl, new { placeholder = "Page Url *", @class = "form-control1", type = "text", required = "required", })
                            </div>

                            <div class="form-group">

                                <label for="exampleInputEmail1">Page Header</label>
                                @Html.DropDownList("ids", new SelectList(ViewBag.listPageHeader, "id", "page_header",  new { placeholder = "Page Url *", @class = "form-control1", required = "required", }))
                            </div>
                                <button type="submit" class="btn btn-default">Create Page</button>

</form>
                    }
                </div>
            </div>
            <div class="col-md-3"></div>

        </div>

        <div class="tables">
            @*<h2 class="title1">Tables</h2>*@
            <div class="table-responsive bs-example widget-shadow" style="margin-left:40px;">
                <h4>My Transactions</h4>
                @{int i = 0;}
                <table id="myTable" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Page Name</th>
                            <th>Page Url</th>
                            @*<th>Date</th>*@
                            <th>Edit Page</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.Data == null)
                        {
                            <h2>No Record Found</h2>
                        }
                        else
                        {

                            foreach (var page in ViewBag.Data)
                            {
                                <tr>

                                    <td scope="row">@(++i)</td>
                                    <td>@page.PageName</td>
                                    <td>@page.PageUrl</td>
                                    @*<td>@page.Date</td>*@

                                    <td>
                                        <a onclick="return confirm('Are You Sure?')" href="@Url.Action("EditPage", "Dashboard", new { id = @page.id })">Edit Role</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
@* This is For Updating my users *@


<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
</script>


