@{
    ViewBag.Title = "SucessfulTransaction";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
@*<link href=@Url.Content("/content/assets/MyTable.css") rel="stylesheet">*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href=@Url.Content("/content/assets/themes/admin/color-schemes/default.css")>
<link rel="stylesheet" type="text/css" href=@Url.Content("/content/assets/themes/components/default.css")>

<link rel="stylesheet" type="text/css" href=@Url.Content("/Styles/Datatable/bootstrap.min.css")>
<script src=@Url.Content("/Styles/Datatable/jquery.min.js")></script>
<link rel="stylesheet" type="text/css" href=@Url.Content("/Styles/Datatable/jquery.dataTables.min.css")>
<script src=@Url.Content("/Styles/Datatable/jquery.dataTables.min.js")></script>
<script src=@Url.Content("/Styles/Datatable/bootstrap.min.js")></script>
@*<h2>SucessfulTransaction</h2>*@


<script type="text/javascript">
$(document).ready(function() {
$('table td:nth-child(4)').each(function() {
    //alert('test');
  let $this = $(this);

  // make sure it's a number
  if (!isNaN($this.text())) {
     // alert('test');
    // convert to number and check value
    if (+$this.text() > 20)
	{
      
	    var pieces = parseFloat($this.text()).toFixed(2).split('')
        let ii = pieces.length - 3
        while ((ii -= 3) > 0) {
            pieces.splice(ii, 0, ',')
        }
        $this.text(pieces.join(''));
     
    }
	else
	{
      $this.css('color', 'red');
    }
  }

});
});



</script>


<div class="form-grids row widget-shadow " style="margin-left:40px;" data-example-id="basic-forms">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-12">
            <div class="form-body">
                @using (Html.BeginForm("RequeryTransaction", "Dashboard", FormMethod.Post, new { id = "" }))
            {
                    <form>

                        <div class="col-md-3">
                            <label for="exampleInputEmail1">Date From</label>

                            <div class=''>
                                <input type='text' autocomplete="off" value="" class="form-control" name="txtDatePicker1" id="datepicker" />

                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="exampleInputEmail1">Date To</label>

                            <div class=''>
                                <input name="txtDatePicker" autocomplete="off" type='text' value="" class="form-control" id="datepickers" />

                            </div>
                        </div>

                        <br />
                        <div class="col-md-3">
                            <p id="dd"></p>
                            <button type="submit" class="btn btn-default">Search</button>
                        </div>

                    </form>
                }
               
                <div class="col-md-3">
                    <a href=@Url.Action("Exportoexcel", "Dashboard", new { }) class="">
                        <button type="submit" class="btn btn-default col-md-8" onchange="CallChangefunc()">Export To Excel</button>
                    </a>
                </div>
            </div>

        </div>

        <div class="col-md-3"></div>

    </div>
   
    
    <div class="tables">
        @*<h2 class="title1">Tables</h2>*@
        <div class="table-responsive bs-example widget-shadow" id="no-more-tables" style="margin-left:40px;">
@if (TempData["Msg"] != null)
{
    <div id="Msgs" style="color:red;margin-left:190px;">
        @TempData["Msg"]
    </div>
}
            @*<h4>My Transactions</h4>*@
            @{int i = 0;}
            <table id="myTable" class="col-md-12 table-bordered table-striped table-condensed cf">
                <thead class="cf">
                    <tr>
                        <th>No</th>
                        <th>Transaction Ref</th>
                        <th>Customer ID</th>
                        <th>Amount</th>
                        <th>Service Charge</th>
                        <th>Service Details</th>
                        <th>TrnDate</th>
                        <th>Status</th>
                        <th>Requery</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.Data == null)
                    {
                        <h2>No Record Found</h2>
                    }
                    else
                    {

                        foreach (var Report in ViewBag.Data)
                        {
                            <tr>

                                <th scope="row">@(++i)</th>
                                <td>@Report.ReferenceNumber</td>
                                <td>@Report.CustomerID</td>
                                @*<td>@Report.Amount</td>*@
                                <td>@Report.Amount</td>
                                <td>@Report.ServiceCharge</td>
                                <td>@Report.ServiceDetails</td>
                                <td>@Report.TrnDate</td>
                                <td>@Report.Description</td>
                                @*<td>@Report.Description</td>*@
                                @*<td><a href="@Url.Action("Receipt", "paytv")" >Receipt</a> </td>*@
                                <td>
                                    <a onclick="return confirm('Are You Sure?')" href="@Url.Action("PowerRequery", "dashboard", new { id = @Report.ReferenceNumber })">Requery</a>
                                </td>
                                @*<td>
                                    <a href="@Url.Action("Approve", "AdminA", new { Refid = @Loan.LoanRefNumber })">View</a>
                                </td>*@
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@*<script type="text/javascript">

    function computeSomething() {

        var test = "price";

       return document.getElementById("Amt").InnerHTML = "Hey";
        //return 2;
    }
    window.onload = computeSomething();
    function moneyFormat(price)
    {
        var pieces = parseFloat(price).toFixed(2).split('')
        let ii = pieces.length - 3
        while ((ii -= 3) > 0)
        {
            pieces.splice(ii, 0, ',')
        }
        //return  pieces.join('')
        document.write(pieces.join)
    }
</script>*@

<script type="text/javascript">
    
     function moneyFormat(price) {
        var pieces = parseFloat(price).toFixed(2).split('')
        let ii = pieces.length - 3
        while ((ii -= 3) > 0) {
            pieces.splice(ii, 0, ',')
        }
        //return  pieces.join('')
        // document.write(pieces.join)
      //  alert(pieces.join(''));
      document.getElementById("Amt").InnerHTML = pieces.join('');
     }

   // window.onload = moneyFormat(50000);


</script>

<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
</script>
<script>
function CallChangefunc(val)
{
    window.location.href = "/Dashboard/Exportoexcel";
}
</script>
<link rel="stylesheet" type="text/css" href=@Url.Content("/Styles/DatePicker/lightpick.css")>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src=@Url.Content("/Styles/DatePicker/lightpick.js")></script>
<script>
    var picker = new Lightpick({ field: document.getElementById('datepicker') });
    var picker = new Lightpick({ field: document.getElementById('datepickers') });
</script>
